.u-section-1 {
  background-image: url("https://res.cloudinary.com/avinish1881/image/upload/v1615792157/Vitraya/BG_banner-1_t18juk.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 520px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 460px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  line-height: 38.4px;
  text-transform: none;
  margin: 77px 48px 0 77px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 215px 0 77px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  text-transform: uppercase;
  margin: 20px auto 0 77px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 460px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 11px 0 30px;
}

.u-section-1 .u-image-1 {
  width: 503px;
  height: 432px;
  margin: 0 auto 0 4px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 379px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 25px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 167px;
    margin-left: 25px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 25px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 379px;
  }

  .u-section-1 .u-image-1 {
    width: 429px;
    height: 368px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 82px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 290px;
  }

  .u-section-1 .u-image-1 {
    width: 319px;
    height: 274px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 880px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 41px;
    margin-right: 41px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 434px;
    height: 396px;
    margin-top: 39px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 274px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 292px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin-top: 0;
  font-size: 1.5rem;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 536px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-2 .u-image-1 {
  width: 486px;
  height: 451px;
  margin: 12px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 442px;
  }

  .u-section-2 .u-image-1 {
    width: 392px;
    height: 364px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 339px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 279px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 610px;
  }

  .u-section-2 .u-image-1 {
    width: 530px;
    height: 493px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 384px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 316px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 225px;
}

.u-section-3 .u-group-1 {
  width: 1103px;
  min-height: 128px;
  background-image: none;
  margin: 48px auto 47px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  margin: 26px 283px 0 90px;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  border-style: none;
  background-image: none;
  margin: -60px 63px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 940px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 202px;
    margin-left: 8px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
    padding: 10px 17px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
    min-height: 140px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
    min-height: 217px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 584px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 558px;
}

.u-section-4 .u-container-layout-1 {
  padding: 25px 30px 0;
}

.u-section-4 .u-image-1 {
  height: 457px;
  margin: 26px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 558px;
}

.u-section-4 .u-container-layout-2 {
  padding: 11px 30px 30px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 14px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin-left: 0;
  margin-right: 0;
  background-image: none;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 460px;
  }

  .u-section-4 .u-image-1 {
    height: 330px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 460px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 399px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 352px;
  }

  .u-section-4 .u-image-1 {
    height: 241px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 419px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 418px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 264px;
  }

  .u-section-4 .u-image-1 {
    height: 257px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1042px;
}

.u-section-5 .u-text-1 {
  margin: 60px 467px 0;
}

.u-section-5 .u-list-1 {
  min-height: 688px;
  grid-template-rows: auto auto;
  height: auto;
  grid-auto-rows: 100%;
  margin: 100px 0 41px;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-auto-rows: calc(50% - 5px);
  grid-gap: 10px 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 29px 30px 30px;
}

.u-section-5 .u-icon-1 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 1px 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 29px 30px 30px;
}

.u-section-5 .u-icon-2 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.25rem;
  margin: 20px 1px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 29px 30px 30px;
}

.u-section-5 .u-icon-3 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.25rem;
  margin: 20px 1px 0 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 29px 30px 30px;
}

.u-section-5 .u-icon-4 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-9 {
  font-size: 1.25rem;
  margin: 20px 1px 0 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px 29px 30px 30px;
}

.u-section-5 .u-icon-5 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-11 {
  font-size: 1.25rem;
  margin: 20px 1px 0 0;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px 29px 30px 30px;
}

.u-section-5 .u-icon-6 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-13 {
  font-size: 1.25rem;
  margin: 20px 1px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 367px;
    margin-right: 367px;
  }

  .u-section-5 .u-list-1 {
    min-height: 567px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-5 .u-text-9 {
    margin-right: 0;
  }

  .u-section-5 .u-text-10 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-5 .u-text-11 {
    margin-right: 0;
  }

  .u-section-5 .u-text-12 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-5 .u-text-13 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1431px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 257px;
    margin-right: 257px;
  }

  .u-section-5 .u-list-1 {
    min-height: 977px;
    margin-top: 8px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-auto-rows: calc(33.33% - 6.66667px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-left: 167px;
    margin-right: 167px;
  }

  .u-section-5 .u-list-1 {
    min-height: 688px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(16.66% - 8.33333px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2491px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 67px;
    margin-right: 67px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 640px;
}

.u-section-6 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  margin-top: 0;
  font-size: 1.25rem;
  margin-bottom: 0;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.125rem;
  background-image: none;
  padding: 8px 33px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-2 {
  padding: 28px 0 0;
}

.u-section-6 .u-image-1 {
  height: 372px;
  margin-top: 0;
  margin-bottom: -28px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-6 .u-image-1 {
    height: 307px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-6 .u-image-1 {
    height: 235px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1000px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-6 .u-image-1 {
    height: 353px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 239px;
  }

  .u-section-6 .u-image-1 {
    height: 222px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 328px;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  margin: 6px 0 0;
}

.u-section-7 .u-list-1 {
  width: 902px;
  min-height: 199px;
  margin: 11px auto 55px;
}

.u-section-7 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 8.66667px);
  grid-template-columns: calc(33.3333% - 8.66667px) calc(33.3333% - 8.66667px) calc(33.3333% - 8.66667px);
  grid-auto-rows: 100%;
  grid-gap: 13px 13px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 30px 22px 17px;
}

.u-section-7 .u-image-1 {
  width: 245px;
  height: 147px;
  margin: 0 0 -8px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 30px 22px 17px;
}

.u-section-7 .u-image-2 {
  width: 245px;
  height: 147px;
  margin: 0 0 -8px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 30px 22px 17px;
}

.u-section-7 .u-image-3 {
  width: 245px;
  height: 147px;
  margin: 0 0 -8px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 8.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 8.66667px));
  }

  .u-section-7 .u-image-1 {
    height: 146px;
  }

  .u-section-7 .u-image-2 {
    height: 146px;
  }

  .u-section-7 .u-image-3 {
    height: 146px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-list-1 {
    width: 354px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(33.33% - 8.66667px);
  }

  .u-section-7 .u-image-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-image-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-image-3 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-repeater-1 {
    grid-auto-rows: calc(33.33% - 8.666666666666666px);
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-list-1 {
    width: 340px;
  }
}.u-section-8 {
  background-image: none;
  min-height: 512px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 497px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-image-1 {
  width: 718px;
  height: 511px;
  margin: -7px auto -7px 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 497px;
}

.u-section-8 .u-container-layout-2 {
  padding: 15px 30px 30px 15px;
}

.u-section-8 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 46px 0 8px;
}

.u-section-8 .u-text-2 {
  margin-left: 8px;
  margin-right: 46px;
  font-size: 1.125rem;
  margin-bottom: 0;
}

.u-section-8 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.125rem;
  background-image: none;
  margin: 20px auto 0 8px;
  padding: 8px 13px 8px 12px;
}

@media (max-width: 1199px) {
  .u-section-8 {
    min-height: 425px;
  }

  .u-section-8 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 410px;
  }

  .u-section-8 .u-image-1 {
    width: 470px;
    height: 334px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 410px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 {
    min-height: 329px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 314px;
  }

  .u-section-8 .u-image-1 {
    width: 360px;
    height: 256px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 {
    min-height: 586px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 581px;
  }

  .u-section-8 .u-image-1 {
    width: 535px;
    height: 561px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 411px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-left: 55px;
    margin-right: 55px;
  }

  .u-section-8 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-8 {
    min-height: 412px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 366px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 357px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}